.main{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}

.formContainer{
    margin-left: 10%;
    padding: 0 10%;
}


.formContainer h1{
    font-size: 30px;
}


.sideContainer{
    color: white;
    height: 90vh;
    width: 110%;
}
.sideContainer .background{
    height: 100%;  
    width: 100%;
    background-image: url('../assets/movies.jpg');
    background-position: center;
    background-size: cover;
    filter: brightness(0.4);
}

.sideContainer .content{
    margin-top: -65vh;
    padding: 0 30px;
    width: 100%;
    filter: brightness(1);
}

.sideContainer p{
    font-size: 18px;
    font-weight: lighter;
}

.sideContainer h4{
    margin-top: -2vh;
    color: white;
    font-size: 20px;
    text-decoration: underline;
    cursor: pointer;
}
